<p>
  <b>Phrase:</b>
  <%=h @rankcriteria.phrase %>
</p>

<p>
  <b>Priorityhigh:</b>
  <%=h @rankcriteria.priorityhigh %>
</p>


<%= link_to 'Edit', edit_rankcriteria_path(@rankcriteria) %> |
<%= link_to 'Back', rankcriterias_path %>