<% form_tag(:controller => "spellcheck",:action => "antonyms") do |f| %>

  <h3>Input a word for antonyms and synonyms</h3>
  <input type="text" name="text"  />
  <br />
  <br />
  <input type="submit" value="Check" />

<% end %>

<%= debug(@result) %>